body {
    background-color: gray;
    color: white;
    display: grid;
    place-items: center;
    text-align: center;
}

p {
    font-size: 50px;
}
#reset {
    display: block;
    place-items: center;
    margin: auto;
}
button {
    width: 100px;
    height: 100px;
    background-color: black;
    color: white;
    border: 2px;
    border-radius: 20px;
}
button:hover{
    background-color: green;
    text-transform: uppercase;
}

#error {
    background-color: red;
    display: none;
    border: 2px;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
}